*{
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
 
  .header{
    padding: 0px;
  
  }
  #header {
    color:yellow;
    font-size: 30px;
    font-weight: 00;
    margin: 0 0 18px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
  .content{
    position: absolute;
    top: 50%;
    left: 70%;
    z-index: 999;
    text-align: center;
    padding: 10px 60px;
    width: 500px;
    transform: translate(-50%,-50%);
    background: rgba(21, 142, 163, 0.534);
    box-shadow: -1px 1px 15px 0px white;
  }
  .content2{
    position: absolute;
    top: 50%;
    left: -260px;
    z-index: 999;
    text-align: center;
    padding: 10px 60px;
    width: 500px;
    transform: translate(-50%,-50%);
    background: rgba(21, 142, 163, 0.534);
    box-shadow: -1px 1px 15px 0px white;
  }
 
  .content header{
    color: white;
    font-size: 10px;
    font-weight: 600;
    margin: 0 0 18px 0;
    font-family: 'Montserrat',sans-serif;
  }
  .field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(107, 7, 7, 0.582);
  }
  a{
    color:white;
    font-size: 15px;
    font-weight: bold;
  }
  .field span{
    color: yellow;
    width: 40px;
    line-height: 45px;
  }
  .field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font: bold;
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
  }
  .space{
    margin-top: 16px;
  }
  
  .pass-key:valid ~ .show{
    display: block;
  }
  .pass{
    text-align: left;
    margin: 10px 0;
  }
  .pass a{
    color: white;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
  }
  
  .field input[type="submit"]{
    background: maroon;
    border: 1px solid maroon;
    color: white;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
  }
  .field input[type="submit"]:hover{
    background: teal;
  }
  .login{
    color: yellow;
    margin: 30px 0;
    font-family: 'Poppins',sans-serif;
  }
  i span{
    margin-left: 8px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 10px;
    font-family: 'Poppins',sans-serif;
  }
 
  .signup a:hover{
    text-decoration: underline;
  }
  